body {
  background-color: lightblue;
}
header, footer {
  color: white;
  background-color: darkgreen;
}
.border {
  border: thick solid blue;
}
#past-experiences  {
  border: thick dashed orange;
}

/*
background-color: #AA9BB2;
text-color:  #0C0113;
text-highlight1: #093157;
text-highlight2: #A8644F;


*/
